<div class="container">
    <h2>Events</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/lights.jpg" target="_blank">
            <img src="../../assets/img/event-1.jpg" alt="event" style="width:100%">
            <div class="caption">
              <p>17th May, 2019<br>Rain Water Harvesting Maintenance Day.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/nature.jpg" target="_blank">
            <img src="../../assets/img/event-2.jpeg" alt="event" style="width:100%">
            <div class="caption">
              <p>21st Apr, 2019<br> World Earth Day Celebrations & launch of Walc Alliance.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/fjords.jpg" target="_blank">
            <img src="../../assets/img/event-3.jpg" alt="event" style="width:100%">
            <div class="caption">
              <p>21st Mar, 2019<br>Save Water Walkathon.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/fjords.jpg" target="_blank">
            <img src="../../assets/img/event-4.jpg" alt="event" style="width:100%">
            <div class="caption">
              <p>22nd Mar, 2018<br> HMWSSB Organising 10K Marathon</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/fjords.jpg" target="_blank">
            <img src="../../assets/img/event-5.jpg" alt="event" style="width:100%">
            <div class="caption">
              <p>25th Feb, 2018<br>5K run by 4000 police personnel, student's and youth, from Charminar to Barkas.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/fjords.jpg" target="_blank">
              <img src="../../assets/img/event-7.jpg" alt="event" style="width:100%">
              <div class="caption">
                <p>12th Feb, 2018<br>Minister of MAUD Sri KTR visited HMWSSB Office.</p>
              </div>
            </a>
          </div>
        </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/fjords.jpg" target="_blank">
            <img src="../../assets/img/event-6.jpg" alt="event" style="width:100%">
            <div class="caption">
              <p>16th Feb, 2018<br>2K Walkathon at KBR Park.</p>
            </div>
          </a>
        </div>
      </div>
      
    </div>
  </div>
  
