<p style="color:white;">
    The Board was constituted on 1.11.1989 under the provisions of Hyderabad Metropolitan Water Supply and Sewerage Act 1989 (Act No . 15 of 1989 ), with the following Functions & Responsibilities in the Hyderabad Metropolitan Area.

    The Supply of potable water including planning, design, construction, maintenance, operation & management of water supply system.
    
    Sewerage, Sewerage Disposal and sewerage treatment works including planning, design, construction, maintenance, operation & management of all sewerage and sewerage treatment works.
</p>
<img src="assets/img/about.JPG" alt="about" style="width: 65%">