<div class="container">
  <h2>Events</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="../../assets/img/gallery-1.jpg" alt="event" style="width:100%">
          <div class="caption">
            <p>World's Only Solution for Water,
              After Rain...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="../../assets/img/gallery-2.jpg" alt="event" style="width:100%">
          <div class="caption">
            <p>JJ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="../../assets/img/gallery-3.jpeg" alt="event" style="width:100%">
          <div class="caption">
            <p>NGO's Awareness.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="../../assets/img/gallery-4.jpg" alt="event" style="width:100%">
          <div class="caption">
            <p>Paper Clipping</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="../../assets/img/gallery-5.jpeg" alt="event" style="width:100%">
          <div class="caption">
            <p>10K run @Golconda</p>
          </div>
        </a>
      </div>
    </div>

    
    
  </div>
</div>

