<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" style="margin:auto;">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i>HYDERABAD METROPOLITAN
        WATER SUPPLY AND SEWERAGE BOARD <br>
        Administrative Office Building
        Khairatabad, Hyderabad – 4, Telangana State</p>
    </div>
    <div class="col-lg-6">
      <p class="w3-center w3-large" style="margin-left: 15px;">Lets get in touch. Send us a message:</p>
      <form [formGroup]="contactForm" (ngSubmit)="submitForm(contactForm.value)">
        <div>
          <!-- <i class="fa fa-user" aria-hidden="true"></i>  -->
          <input type="text" class="form-control" formControlName="username" placeholder="NAME"
            style="margin:15px; width: 75%">
            <div class="error" *ngIf="!contactForm.controls['username'].valid && contactForm.controls['username'].touched">{{ msgAlert }}</div>
          <input type="text" class="form-control" formControlName="mobile_number" placeholder="Mobile Number"
            style="margin:15px; width: 75%">
            <div class="error" *ngIf="!contactForm.controls['mobile_number'].valid && contactForm.controls['mobile_number'].touched">{{ msgAlert }}</div>
            <input type="text" class="form-control" formControlName="email_id" placeholder="Email Id"
            style="margin:15px; width: 75%">
            <div class="error" *ngIf="!contactForm.controls['email_id'].valid && contactForm.controls['email_id'].touched">{{ msgAlert }}</div>
            <input type="text" class="form-control" formControlName="message" placeholder="Message"
            style="margin:15px; width: 75%">
            <div class="error" *ngIf="!contactForm.controls['message'].valid && contactForm.controls['message'].touched">{{ msgAlert }}</div>
 
        </div>
        <div style="margin-top: 3%;margin-left: 3%">
          <button type="submit" [disabled]="!contactForm.valid" class="btn btn-dark Green">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
